:root{
	--white-text:#fff;
	--background:#c8e8f1;
	--black-text:rgb(68, 66, 66)	
	--prueba: (180deg,#21c8f6,#637bff);
}

.background1-left-column{
	background: linear-gradient(180deg,#21c8f6,#637bff);
}


.background2-left-column{
	background: linear-gradient(180deg ,#6edcc4,#1aab8b);
}





.container2{
	font-family: Arial, Helvetica, sans-serif;	
	border: none;
	padding: 0;
	margin: 0;
	color: black;
	display: flex;
	justify-content: center;
    align-items: center;
}

.card {
	background-color:var(--white-text);
	border-radius: 1rem;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
	display: flex;	
	margin: 0.5rem;
	overflow: hidden;
	width: 12rem;
	height: 6rem;
}

.card h6 {
	opacity: 1.0;
	font-size: 25px;
	color: red;	
	letter-spacing: .1rem;
	text-transform: uppercase;
}
.card h5 {
	opacity: 1.0;
	font-size: 25px;
	color: rgb(14, 138, 70);	
	letter-spacing: .1rem;
	text-transform: uppercase;
}

.card  h2 {
	letter-spacing: .1rem;
	margin: 1rem 0;
	color: var(black-text);
}

.left-column {	
	color: var(--white-text);
	padding: .2rem;
	max-width: 5rem;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.left-column h2{
	color: var(--white-text);
}

.left-column i {
	font-size: 5rem
}

.right-column {
	text-align:center;
	float: right;
	padding: 0px;
	width: 100%;
	display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
	
}
.right-column h4 {
	text-align:center;
	padding: 10px;
	
	
}

.right-column p{	
	font-size: .9rem;
	color: var(--black-text)
}

.button {
	border-radius: 1rem;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: var(--white-text);
	font-size: 1.2rem;
	padding: .8rem 1.5rem;
	letter-spacing: .1rem;
	align-self: flex-end;
}
.mybutton {
	border-radius: 0rem;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: var(--white-text);
	font-size: 1.2rem;
	width: 100%;
	color: black;
	background-color: transparent;
	padding: .5rem 0rem;
	letter-spacing: .1rem;
	align-self: flex-end;
}
.mybutton5 {
	border-radius: 0rem;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: var(--white-text);
	font-size: 1.2rem;
	width: 100%;
	color: black;
	background-color: transparent;
	padding: .5rem 0rem;
	letter-spacing: .1rem;
	align-self: flex-end;
}
.mybutton:hover {

	background: linear-gradient(180deg,#21c8f6,#637bff);
	
}
.mybutton5:hover {

	background: linear-gradient(180deg ,#6edcc4,#1aab8b);
	
}
.fa{
	color: rgb(126, 121, 121);
	font-size: 10px;
	width: 5;
	padding: 5;
	margin: 0;
	
}
/*media queries*/

@media (max-width: 600px) {
	.container2{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height:auto;
	}
	.container2 .card{
		width: 60%;
		height: 100%;
	}
  }